section{
    background-color: gray;
    text-align: center;
    border: solid 1px;
    height: 600px;
}

.outter--container {
    background-color: white;
    width:70%;
    margin: auto;
    height: 340px;
    position: relative;
}
.game--container {
    background-color: white;
    width: 320px;
    height: 320px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.box--container {
    display: grid;
    background-color: white;
    grid-template-columns: repeat(9, auto);
    grid-template-rows: repeat(9, auto);
    width: 320px;
    margin: 0px 0px;
    padding: 0px;
}

/* cells */

.cell{
    font-size:5px;
    
}


.cell.clicked{
    font-size: 7px;
    background-color: blueviolet;
}


/* lines */

.left-line, .right-line, .bottom-line, .top-line:hover {
    cursor:pointer;
}

.left-line, .top-left-dot {
    background-color: white;
    width: 8px;
}

.right-line, .top-right-dot, .bottom-right-dot {
    background-color: white;
    width: 8px;
}

.top-line, .bottom-line {
    height: 8px;
    background-color: white;
}

.square {
    width: 70px;
    height: 70px;
}

.square.clicked {
    background-color: lightblue;
}


/* dots */

  .bottom-right-dot, .bottom-left-dot,  .top-right-dot, .top-left-dot {
    border-radius: 50%;
    background-color: black;
      }
